<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header') -%>
<body>
    <%- include('layouts/navbar') -%>

    <div class="container mt-4">
        <h1 class="display-4 mt-4 mb-5">Posts Page</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <% for (var i=0; i < blogposts.length; i++){%>
                    <div class="post-preview p-3 mb-3">
                        <a href="<%= blogposts[i].datePosted %>">
                            <h2>
                                <%= blogposts[i].model %>
                            </h2>
                        </a>
                            <h4>
                                <%= blogposts[i].productionYear %>
                            </h4>
                    </div>
                    <hr>
                <%} %>
            </div>
        </div>
    </div>

</body>
<!--MDB-->
<%- include('layouts/scripts') -%>
</html>