<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header') -%>
  <body>

    <%- include('layouts/navbar') -%>

    <main role="main" class="container mt-4">
      <div class="container">
        <h1 class="display-4 mt-4 mb-5">Single Post</h1>

        <article class="blogpost">
          <div class="frame">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <h1 class="mb-4"><%= blogPost.model %></h1>
                <hr>
                <% if (blogPost.image) { %>
                  <img src="<%= blogPost.image %>" alt="Blog Post Image" class="img-fluid">
                <% } %>
                <p class="mb-4">Rok produkcji: <%= blogPost.productionYear %></p>

                <h3 class="mb-4">Opis: <%= blogPost.description %></h3>
                <hr>
                <p class="mb-4"><%= blogPost.body %></p>
              </div>
            </div>
          </div>
          <hr>
        </article>

        </div>
    </main>

    <%- include('layouts/footer') -%>
    <%- include('layouts/scripts') -%>
  </body>
</html>